:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.__kpi_id_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  border-width: 0;
  border-style: solid;
  background-color: rgb(var(--background));

  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 0px 1px rgb(var(--border));
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 8px;

  &.__kpi_id_brand {
    --border: 16 98 163;
    --background: 16 98 163;
    --hover: 0 97 160;
    --hover-border: 16 98 163;
    --border-active: 0 69 113;
    --background-active: 16 98 163;
    --color-active: 255, 255, 255;
  }

  &.__kpi_id_outline {
    --border: 199 200 213;
    --background: 255 255 255;
    --hover: 255 255 255;
    --hover-border: 64 65 77;
    --border-active: 16 97 163;
    --background-active: 245 251 255;
    --color-active: 16 97 163;
    color: rgb(64 65 77);
  }

  &.__kpi_id_small {
    padding: 7px 10px;
    gap: 5px;
    font-size: 12px;
    line-height: 16px;

    & svg {
      width: 20px;
      height: 20px;
    }
  }

  &.__kpi_id_medium {
    padding: 9px 12px;
    gap: 6px;
    font-size: 14px;
    line-height: 20px;

    & svg {
      width: 24px;
      height: 24px;
    }
  }

  &.__kpi_id_large {
    padding: 11px 16px;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;

    & svg {
      width: 32px;
      height: 32px;
    }
  }

  &.__kpi_id_full-width {
    width: 100%;
  }

  &:hover {
    background: rgb(var(--hover));
    box-shadow: inset 0px 0px 0px 1px rgb(var(--hover-border));
  }

  &:active {
    background-color: rgb(var(--background-active));
    box-shadow: inset 0px 0px 0px 1px rgb(var(--border-active));
    color: rgb(var(--color-active));
  }

  &:focus-visible {
    box-shadow:
      rgb(255, 255, 255) 0px 0px 0px 2px,
      rgb(148, 163, 184) 0px 0px 0px 4px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
}
